/* Slideshow.css */
.slide-container {
    width: 100%;
  }
  
  .each-slide {
    height: 400px; /* Default height */
  }
  
  .caption {
    padding: 20px;
    background: #efefef;
    color: #000;
  }
  
  /* Media queries for responsive design */
  @media (min-width: 768px) {
    .each-slide {
      height: 500px; /* Adjust height for medium screens */
    }
  }
  
  @media (min-width: 1024px) {
    .each-slide {
      height: 600px; /* Adjust height for large screens */
    }
  }
  